<section class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>{{title}} {{name}}</h3>
      <p>
        Age : {{age + 10}},
        Email : {{info.email}},
        Skill : {{info.skill}},
      </p>
      <p *ngIf="!isShow">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, aut exercitationem fugiat laboriosam modi aliquid repellendus libero laborum repellat cum expedita esse odio officiis dolores accusamus dicta nulla at quod?

      </p>.
      <button (click)="next()"  class="btn btn-primary"> Next></button>
      <br>
      <br>
      <img [src]="profile" [width]="imgWidth" (click)="next()" />
      
      

    </div>
  </div>
</section>
